.container {
  position: relative;
  margin: 16px auto 0;
  padding: 0 20px 80px;
  background-color: rgba(0, 0, 0, 0.411);
  
}

.container h3 {
  text-align: center;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px 0 20px;

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.list {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  padding: 4px 20px 16px 2px;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.list::-webkit-scrollbar {
  height: 10px;
  max-width: 20px;
  padding-right: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #dadadadc;
  border-radius: 6px;
}

.list::-webkit-scrollbar-track {
  background-color: #f1f1f123;
}

.item {
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: #00000054;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.item:hover {
  transform: scale(1.03);
}

.item img {
  border-radius: 6px 6px 0 0;
  height: 228px;
  max-width: 152px;
}

.name {
  font-size: 16px;
  padding: 4px 10px 0;
  text-align: center;
  font-family: 'League Spartan', sans-serif;

}

.character {
  font-size: 14px;
  padding: 4px 10px;
  color: #cfcfcf;
  text-align: center;
}

