.container {
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

.honeyComb {
  position: absolute;
  transform: rotate(10deg);
  width: 50%;
  top: -3.6%;
  left: 9%;
}

.bigPoster {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 1440px;
  max-height: 40%;
}

.bigPoster img {
  min-height: 70%;
  width: 100%;
}

.btnPrevious,
.btnNext {
  position: absolute;
  z-index: 2;
  top: 42%;
  height: 120px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(177, 177, 177);
  background-color: rgba(70, 69, 69, 0.397);
  border: none;
  border-radius: 4px;
}

.btnPrevious {
  left: -36px;
}

.btnNext {
  right: -36px;
}

.btnPrevious:hover,
.btnNext:hover {
  color: #e7e7e7;
  background-color: rgba(71, 70, 70, 0.541);
}

.infoPoster * {
  position: relative;
}

.infoPoster {
  position: absolute;
  top: 65%;
  left: 3%;
  width: 44%;

  padding: 24px 16px 20px 24px;
}

.infoPoster:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(135deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.24));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 12px;
}

.imgSlider {
  background-color: inherit;
}

.titlePoster {
  padding-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.bigTitle span {
  color: #ffd037;
}

.overviewPoster {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  padding-bottom: 16px;
  text-align: justify;
}

.detailsPoster {
  font-size: 12px;
  display: flex;
  gap: 44px;
}

.posterBtns {
  position: absolute;
  top: 81.2%;
  right: 3%;
  display: flex;
}

.btnWatch {
  height: 60px;
  padding: 0 38px 0 34px;
  margin-right: 12px;
  color: #fff;
  background: linear-gradient(
    320deg,
    deepskyblue,
    deepskyblue,
    #ffd037,
    #ffd037,
    #0c0c0c,
    #0c0c0c,
    #ffd037,
    #ffd037,
    #0c0c0c,
    #0c0c0c,
    #ffd037,
    #ffd037,
    #0c0c0c,
    #0c0c0c,
    #ffd037,
    #ffd037,
    #0c0c0c,
    #0c0c0c,
    #fff,
    #000000,
    #000000,
    #0000004b
  );
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-size: 720% 720%;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.btnWatch:hover {
  background-size: 720% 720%;
  animation: gradient-animation 7s ;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btnLinkMore {
  height: 60px;
  width: 60px;
  color: #a1a1a1;
  background-color: #0000006c;
  border: 2px solid #8b8b8b;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.btnLinkMore:hover {
  color: #ececec;
  background-color: #0000008e;
  border: 2px solid #ececec;
}

.containerList {
  position: relative;
  z-index: 2;
  max-width: 1440px;
  padding: 8px 15px 120px;
  margin: 0 auto;
}

.containerList h2 {
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
}


.listTrending {
  margin: 0 auto;
  display: flex;
  gap: 16px;
  padding: 4px 20px 16px 2px;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  
}

.listTrending::-webkit-scrollbar {
  height: 10px;
  max-width: 20px;
  padding-right: 8px;
}

.listTrending::-webkit-scrollbar-thumb {
  background-color: #5a5a5adc;
  border-radius: 6px;
}

.listTrending::-webkit-scrollbar-track {
  background-color: rgba(70, 69, 69, 0.397);
}

.itemTrending {
  cursor: pointer;
}

.itemTrending:nth-child(1) {
  display: none;
}

.itemTrending img {
  border-radius: 6px;
  height: 332px;
  transition: transform 0.2s ease-in-out;
}

.itemTrending img:hover {
  transform: scale(1.03);
}

.ellipseDesktop6 {
  position: absolute;
  z-index: 0;
  width: 300px;
  height: 300px;
  left: 44%;
  top: 62%;

  background: #8fa9ffcc;
  filter: blur(250px);
  cursor: default;
}

.ellipseDesktop7 {
  position: absolute;
  z-index: 0;
  width: 300px;
  height: 1000px;
  left: 34%;
  top: -10%;

  background: #ffd037;
  filter: blur(200px);
  cursor: default;
  transform: rotate(60deg);
}