.container {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
}

.listNav {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin: 0 auto;
  padding: 12px 15px;
}

.listNav li:nth-child(1) {
  margin-right: 20px;
}

.logo {
  width: 40px;
}

.navLink {
  color: #9b9b9b;
  padding: 8px;
  background-color: inherit;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.navLink:hover {
  color: #fff;
}

.active {
  color: #fff;
}

.title {
  position: absolute;
  top: 36px;

  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #fcd659;
  text-align: center;
}
